body
{
background:#D9DBBC;
padding:0;
margin:0;
}

@font-face
{
font-family:Existence;
src: url('resources/Existence-Light.otf');
}

/* Referera till detta ID genom <div id="content"> */

#content
{
width:1000px;
margin:auto;
background:white;
height:100%;
}

#main 
{
width:719px;
background:white;
float:left;
padding-right:20px;
padding-left:10px;
border-right-style:solid;
border-right-color:black;
border-right-width:1px;
}

#sidebar 
{
width:240px;
background:#333;
float:right;
padding:5px;
margin:0;
min-height:100%;
}


/* Referera till denna med class <h1 class="center"> */

img.center
{
display:block;
margin-left:auto;
margin-right:auto;
}

h1.big
{
color:black;
text-align:center;
font-family:"Georgia";
font-size:40px;
}

h1
{
color:#16991A;
text-align:center;
font-family:"Existence","Georgia";
font-size:40px;
}

h2
{
color:black;
font-family:"Existence","Georgia";
font-size:24px;
font-weight:bold;
text-decoration:underline;
}

h2.sidebar
{
color:#16991a;
font-family:"Existence","Georgia";
font-size:24;
font-weight:bold;
text-decoration:underline;
}

p
{
font-family:"Georgia";
font-size:16px;
color:black;
}

p.sidebar
{
font-family:"Georgia";
font-size:14px;
color:#D9DBBC;
}

#sidebar p:hover
{
color:#F1751D;
}

p.border
{
font-family:"Georgia";
font-size:14px;
color:black;
border-style:solid;
border-color:#000000;
border-width:1px;
padding:5px 5px;
}

#main p.border:hover
{
border-color:red;
}

div.footer
{
background-color:#333;
padding:1px;
clear:both;
}

div.header
{
background:#171717;
height:120px;
padding:10px;
padding-bottom:20px;
margin-bottom:0;
}

p.footer
{
color:white;
text-align:center;
font-size:9px;
font-family:"Georgia";
}

p.header
{
color:#F1751D;
text-algin:center;
font-size:18px;
text-weight:light;
}

a {text-decoration:none;}

/* NAVIGATION BAR*/

#menu ul
{
padding:0;
float:left;
width:100%;
background-color:#333;
margin:0;
}

#menu ul li
{display:inline;margin-left:20px;}

#menu ul li a
{
display:block;
float:left;
text-decoration:none;
color:#66FF00;
padding:10.5px 11px;
background-color:#333;
text-align:center;
letter-spacing:1px;
}

#menu ul li a:visited
{
color:#66FF00;
}

#menu ul li a:hover
{
color:#fff;
background-color:#0b75b2;
}

#menu ul li .current
{
background-color:#464646;
}
